#productsdiv {
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 15px;
    justify-content: center;
}

.imagediv img {
    max-width: 100%;
    max-height: 250px;
}

body {
    overflow: scroll;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 